<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="container-fluid px-lg-4">
            <div class="row">
                <div class="col-md-12 mt-lg-4 mt-4">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">VENDOR MANAGEMENT</h1>

                    </div>
                </div>


            </div>
        </div>

    </div>



    <div class="row d-flex justify-content-center">
        <section class=" card col-md-10 m-l-auto m-r-auto">
            <h2 class="text-center p-2 m-2">Edit Vendor</h2>
            <div class="container mt-4">
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-9 ">


                        <form action="/admin/edit-vendor/{{vendorDetails._id}}" method="POST"
                            enctype="multipart/form-data">

                            <label for="">Name</label>
                            <input type="text" name="Name" class="form-control" value="{{vendorDetails.Name}}">

                            <label for="">Place</label>
                            <input type="text" name="Place" class="form-control" value="{{vendorDetails.Place}}">

                            <label for="">Phone Number</label>
                            <input type="text" name="PhoneNumber" class="form-control"
                                value="{{vendorDetails.PhoneNumber}}">

                            <label for="">Email Id</label>
                            <input type="text" name="EmailId" class="form-control" value="{{vendorDetails.EmailId}}">

                            {{!-- <label for="">Image</label>
                    <img style="width: 50px; hight:50px;" src="/product-images/{{}}.jpg" alt="" id="imgView">
                    <input type="file" name="Image" class="form-control" onchange="viewImage(event)"> --}}

                            <button type="submit" class="btn btn-success mt-4">Submit</button>
                            <a href="/admin/view-vendors" class="btn btn-warning mt-4">Cancel</a>
                        </form>



                    </div>
                </div>
            </div>
        </section>
    </div>
</div>





<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>
</div>
</section>