<style>
     .navbar-nav>li>a.vendormanagement {
    color: #e9ecef !important;
    background: linear-gradient(90deg,
            rgba(59, 125, 221, 0.1),
            rgba(59, 125, 221, 0.0875) 50%,
            transparent);
    border-left: 4px solid #3b7ddd;
    }
</style>

<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="container-fluid px-lg-4">
            <div class="row">
                <div class="col-md-12 mt-lg-4 mt-4">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">VENDOR MANAGEMENT</h1>

                    </div>
                </div>


            </div>
        </div>

    </div>



    <div class="row d-flex justify-content-center">
        <section class=" card col-md-10 m-l-auto m-r-auto">
            <h2 class="text-center p-2 m-2">Edit Vendor</h2>
            <div class="container mt-4">
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-9 ">


                        <form action="/admin/edit-vendor/{{vendorDetails._id}}" method="POST"
                            enctype="multipart/form-data">

                            <label for="">Name</label>
                            <input type="text" name="Name" class="form-control" value="{{vendorDetails.Name}}">

                            <label for="">Place</label>
                            <input type="text" name="Place" class="form-control" value="{{vendorDetails.Place}}">

                            <label for="">Phone Number</label>
                            <input type="text" name="PhoneNumber" class="form-control"
                                value="{{vendorDetails.PhoneNumber}}">

                             <label for="">Status</label>
                            <select class="form-control" name="Status" id="sel1">
                                <option value="{{vendorDetails.Status}}">{{vendorDetails.Status}}</option>
                                <option value="Block">Block</option>
                                <option value="Active">Active</option>
                            </select>    

                            <label for="">Email Id</label>
                            <input type="text" name="EmailId" class="form-control" value="{{vendorDetails.EmailId}}">

                           

                            <button type="submit" class="btn btn-success mt-4">Submit</button>
                            <a href="/admin/view-vendors" class="btn btn-warning mt-4">Cancel</a>
                        </form>



                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
      $("#bar").click(function () {
            $(this).toggleClass("open");
            $("#page-content-wrapper ,#sidebar-wrapper").toggleClass("toggled");
        });
        //
         function toggleMenu() {
        let navigation = document.querySelector(".navigation");
        let toggle = document.querySelector(".toggle");

        navigation.classList.toggle("active");
        toggle.classList.toggle("active");
       },
        function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
</script>



