<style>
  .navbar-nav>li>a.salesreport {
    color: #e9ecef !important;
    background: linear-gradient(90deg,
            rgba(59, 125, 221, 0.1),
            rgba(59, 125, 221, 0.0875) 50%,
            transparent);
    border-left: 4px solid #3b7ddd;
}
</style>
<div class="row">
        <div class="container-fluid px-lg-4">
            <div class="row">
                <div class="col-md-12 mt-lg-4 mt-4">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">SALES REPORT</h1>
                        
                    </div>
                </div>


            </div>
        </div>

    </div>
<div class=" container-fluid col-md-12 mt-4">
    <div class="card container-fluid">
        <div class="card-body">
            <!-- title -->
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">Top Selling Products</h4>
                    <h5 class="card-subtitle">
                        Overview of Top Selling Items
                    </h5>
                </div>
                <div class="ml-auto">
                    <div class="dl">
                        <select class="custom-select">
                            <option value="0" selected="">Monthly</option>
                            <option value="1">Daily</option>
                            <option value="2">Weekly</option>
                            <option value="3">Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- title -->
        </div>
        <div class="table-responsive ">
            <table class="table v-middle" id="sales_table">
                <thead>
                    <tr class="bg-light">
                        <th class="border-top-0">ORDER ID</th>
                        <th class="border-top-0">DATE</th>
                        <th class="border-top-0">PRICE</th>
                        <th class="border-top-0">PAYMENT METHOD</th>
                        <th class="border-top-0">VENDOR NAME</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sales}}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="">
                                    <h4 class="m-b-0 font-16">{{this.date}}</h4>
                                </div>
                            </div>
                        </td>
                        <td>{{this.orderId}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.paymentMethod}}</td>
                        <td>{{this.vendorName}}</td>

                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">BEST SELLING PRODUCTS</h5>
                    <div class="salesreport">
                        <canvas id="myChart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-4">SALES</h5>
                    <div class="salesreport">
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>



<script>
      $("#bar").click(function () {
        $(this).toggleClass("open");
        $("#page-content-wrapper ,#sidebar-wrapper").toggleClass("toggled");
    });
    //
    function toggleMenu() {
        let navigation = document.querySelector(".navigation");
        let toggle = document.querySelector(".toggle");

        navigation.classList.toggle("active");
        toggle.classList.toggle("active");
    }

   let labels1
   let data1 

    $(document).ready(function () {
        console.log("test api call")
        $.ajax({
            url: '/admin/bestSelling',
            method: 'get',
            success: (response) => {
                if (response) {
                    labels1=response.labels
                    data1=response.data
                    chart()
                    return labels1;
                    
                } 
                
            
            }
        })
         
    });
    function chart(){
    
  
    
    
    let color1 = ["#49A9EA", "#36CAAB", "#49EA", "#36CAAB"];

    let mychart1 = document.getElementById("myChart1").getContext("2d");
    let chart1 = new Chart(mychart1, {
        type: "doughnut",
        data: {
            labels: labels1,
            datasets: [
                {
                    data: data1,
                    backgroundColor: color1,
                },
            ],
        },
        options: {
            // title:{
            //     text:"do you like ",
            //     fontColor: 'black',
            //     display:true
            // },
            legend: {
                labels: {
                    fontColor: "black",
                    fontNumber: 30,
                },
            },
        },
    });

    let labels2 = ["THIS MONTH", "LAST MONTH"];
    let data2 = [69, 31];
    let color2 = ["#49A9EA", "#36CAAB"];

    let mychart2 = document.getElementById("myChart2").getContext("2d");
    let chart2 = new Chart(mychart2, {
        type: "pie",
        data: {
            labels: labels2,
            datasets: [
                {
                    data: data2,
                    backgroundColor: color2,
                },
            ],
        },
        options: {
            // title:{
            //     text:"do you like ",
            //     fontColor: 'black',
            //     display:true
            // },
            legend: {
                labels: {
                    fontColor: "black",
                    fontNumber: 30,
                },
            },
        },
    });

    }

    $(document).ready( function () {
    $('#sales_table').DataTable();
    } );

    $('#sales_table').DataTable( {
     ordering: false
    } );

    
</script>