<div class="container-fluid px-lg-4">
    <div class="row">
        <div class="container-fluid px-lg-4">
            <div class="row">
                <div class="col-md-12 mt-lg-4 mt-4">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">USER MANAGEMENT</h1>
                        <a href="/admin/add-users" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fa fa-upload fa-sm text-white-50"></i>
                            ADD USERS</a>
                    </div>
                </div>



            </div>
        </div>

        <!-- column -->
        <div class="col-md-12 mt-4">
            <div class="card">
                <div class="card-body">
                    <!-- title -->
                    <div class="d-md-flex align-items-center">
                        <div>
                            <h4 class="card-title">ALL USERS</h4>
                            <h5 class="card-subtitle">
                                Overview of Top Selling Items
                            </h5>
                        </div>
                        <div class="mr-auto">
                            <div class="dl">
                                <select class="custom-select">
                                    <option value="0" selected="">Monthly</option>
                                    <option value="1">Daily</option>
                                    <option value="2">Weekly</option>
                                    <option value="3">Yearly</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- title -->
                </div>
                <div class="table-responsive horizontal-scrollable">
                    <table class="table v-middle">
                        <thead>
                            <tr class="bg-light">
                                <th class="border-top-0">Logo</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Phone Number</th>
                                <th class="border-top-0">Tickets</th>
                                <th class="border-top-0">Sales</th>
                                <th class="border-top-0">Earnings</th>
                                <th class="border-top-0">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <img src="" alt="">
                                            {{!-- <a class="btn btn-circle btn-info text-white">EA</a> --}}
                                        </div>
                                       
                                    </div>
                                </td>
                                <td><h4 class="m-b-0 font-16">{{this.Email}}</h4></td>
                                <td>{{this.Status}}</td>
                                <td>{{this.Mobile}}</td>
                                
                                <td>46</td>
                                <td>356</td>
                                <td>
                                    <h5 class="m-b-0">$2850.06</h5>
                                </td>
                                <td>
                                    <a href="/admin/edit-users/{{this._id}}" class=" btn btn-success">edit</a>
                                   
                                </td>
                                 <td>
                                    
                                    <a href="/admin/delete-vendor/{{this._id}}" class=" btn btn-danger">delet</a>
                                </td>
                            </tr>
                            {{/each}}
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
