<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");





    body {
        padding-top: 3rem;
        padding-bottom: 3rem;

    }




    /* cart style */



    .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    @media(max-width:767px) {
        .card {
            margin: 3vh auto
        }
    }

    .nav__item > .cart {
        color: var(--first-color);
    }

    .cart {

        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        color: #000;
    }

    @media(max-width:767px) {
        .cart {
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem
        }
    }

    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    @media(max-width:767px) {
        .summary {
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem
        }
    }

    .summary .col-2 {
        padding: 0
    }

    .summary .col-10 {
        padding: 0
    }

    .row {
        margin: 0
    }

    .title b {
        font-size: 1.5rem
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

    .col-2,
    .col {
        padding: 0 1vh
    }

    a {
        padding: 0 1vh
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    img {
        width: 3.5rem
    }

    .back-to-shop {
        margin-top: 4.5rem
    }

    h5 {
        margin-top: 4vh
    }

    hr {
        margin-top: 1.25rem
    }

    form {
        padding: 2vh 0
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input:focus::-webkit-input-placeholder {
        color: transparent
    }



    .btn:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none
    }



    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }

    /* cart style */

    /* footer */




    .form-control::placeholder {
        font-size: 0.95rem;
        color: #aaa;
        font-style: italic;
        text-decoration: none;
    }

    .form-control.shadow-0:focus {
        box-shadow: none
    }





    /* footer */
</style>



<main>
    <!--  cart -->

    <section class="cart">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col">
                                <h4><b>Shopping Cart</b></h4>
                            </div>
                            <div class="col align-self-center text-right text-muted">{{cartCount}} items</div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Items</th>
                                <th scope="col">Title</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each cartProducts}}
                            <tr>

                                <td><img style="width: 70px;height:70px" src="/product-images/{{this.product._id}}.jpg"
                                        alt="" srcset=""></td>
                                <td>{{this.product.Name}}</td>
                                <td>{{this.product.Price}}</td>

                                <td class="d-flex">
                                    <button class="cart-item-count mr-1"
                                        onclick='changeQuantity("{{this.item}}","{{this.product.VendorId}}","{{../user._id}}",-1)'>-</button>
                                    <span id="{{this.product._id}}">{{this.quantity}}</span>
                                    <button class="cart-item-count  ml-1"
                                        onclick='changeQuantity("{{this.item}}","{{this.product.VendorId}}","{{../user._id}}",1)'>+</button>
                                </td>
                                <td>
                                    <a href=""
                                        onclick='removeCartProduct("{{../user._id}}","{{this.item}}","{{this.product.VendorId}}")'
                                        class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </td>
                            </tr>


                            {{/each}}



                        </tbody>
                    </table>

                    <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
                    </div>
                </div>
                <div class="col-md-4 summary">
                    <div>
                        <h5><b>Summary</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">ITEMS {{cartCount}}</div>
                        <div class="col text-right"></div>
                    </div>
                    <form>
                        <p>SHIPPING</p> <select>
                            <option class="text-muted">Standard-Delivery</option>
                        </select>

                    </form>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col">TOTAL PRICE Rs:</div>
                        <div class="col text-right" id="total">{{total}}</div>
                    </div> <a href="/checkout" class="btn btn-primary">CHECKOUT</a>

                </div>
            </div>
        </div>
    </section>






    <script>
        function changeQuantity(proId, vendorId, userId, count) {
            let quantity = parseInt(document.getElementById(proId).innerHTML)
            count = parseInt(count)


            $.ajax({
                url: '/change-product-quantity',
                data: {
                    vendorId: vendorId,
                    product: proId,
                    count: count,
                    quantity: quantity,
                    user: userId
                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        alert("product removed from cart")
                        location.reload()

                    } else {
                        document.getElementById(proId).innerHTML = quantity + count
                        document.getElementById('total').innerHTML = response.total
                    }

                }
            })
        };
        function removeCartProduct(userId, proId, vendorId,) {
            console.log('test ')
            $.ajax({
                url: '/removeCartItem',
                data: {
                    vendorId: vendorId,
                    product: proId,
                    user: userId
                },
                method: 'post',
                success: (response) => {
                    if (response.removeProduct) {
                        alert("product removed from cart")
                        location.reload()

                    }

                }
            })
        }


    </script>