<style>
    section{
        margin-top: 100px;
    }
</style>
<section>
    <div class="container">
        <h3 class="my-auto">ORDERS</h3>
        <hr>
        <table class="table">
            <thead>
                
                <tr>
                    
                    <th >Date</th>
                    <th>Address</th>
                    <th >Mobile</th>
                    <th>Total amount</th>
                    <th>Payment Method</th>
                    <th>Status</th>
                    <th> </th>


                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                   <td>{{this.date}}</td>
                   <td>{{this.deliveryDetails.Address}} </td>
                   <td>{{this.deliveryDetails.Mobile}}</td>
                   <td>{{this.products.totalPrice}}</td>
                   <td>{{this.paymentMethod}}</td>
                   <td>{{this.products.status}} </td>
                   <td>
                       <a href="/view-order-products/{{this._id}}/{{this.products._id}}" class="btn btn-primary">View Products</a>
                   </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>