
<section>

    <div class="row">
        {{#each products}}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/product-images/{{this.item}}.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.product.Name}}</h5>
                    <p class="card-text">{{this.product.Category}}</p>
                    <p class="card-text">{{this.product.Price}}</p>
                    <p class="card-text">{{this.quantity}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</section>