<style>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
    .nav__item > .ourbakers{
     color: var(--first-color);
}
    
</style>

<main>
     
     <h2 style="text-align: center;" >products</h2>
      <hr class="featurette-divider">
      <section class="menu section bd-container" id="menu">
                <span class="section-subtitle">Special</span>
                <h2 class="section-title">Menu of the week</h2>

                <div class="menu__container bd-grid">
                    {{#each products}}
                    <div class="menu__content">
                        <img class="rounded-circle" width="140" height="140" alt="100x100"
                           src="/product-images/{{this._id}}.jpg" data-holder-rendered="true">
                        <h3 class="menu__name">{{this.Name}}</h3>
                        <span class="menu__detail">{{this.Category}}</span>
                        <span class="menu__preci">RS:{{this.Price}}</span>
                        
                        <button onclick="addToCart('{{this._id}}','{{VendorId}}')" class="button menu__button"><i class="fas fa-cart-plus"></i></button>

                    </div>
                    {{/each}}

                   
                </div>
            </section>
    {{!-- <div class="row ">
        {{#each products}}
        <div class="card mx-auto" style="width: 18rem;">
            <img class="rounded-circle" width="140" height="140" alt="100x100"
                src="/product-images/{{this._id}}.jpg" data-holder-rendered="true">
            <div class="card-body">
                <h5 class="card-title">{{this.Name}}</h5>
                <h3><span>RS:</span>{{this.Price}}</h3>
                <h6>{{this.Category}}</h6>
                <p>{{this.Vendor}}</p>
                <div class="row buttons">
                    <button onclick="addToCart('{{this._id}}','{{VendorId}}')" class="btn btn-primary btn-squared col-5"><i class="fas fa-cart-plus"></i></button>
                    <a href="#" class="btn btn-success col-7">buy now </a>
                </div>
            </div>
        </div>
        {{/each}}
        
        

    </div> --}}
</main>


<script>
 function addToCart(proId,vendorId) {
  $.ajax({
    url: "/add-to-cart/" + proId +"/"+ vendorId,
    method: "post",
    success: (response) => { 
      if (response.status) {
        let count = $("#cart-count").html();
        count = parseInt(count) + 1;
        $("#cart-count").html(count);
      }
    },
  });
}

</script>